[project]
name = "lecture-2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "rich>=14.3.2",
    "scipy>=1.17.0",
]
